@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Fonts */
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --font-bebas-neue: var(--font-bebas-neue);

  /* System Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Brand Colors */
  --color-primary: #e7c9a5;
  --color-primary-admin: #25388c;

  --color-green-default: #027a48;
  --color-green-100: #ecfdf3;
  --color-green-400: #4c7b62;
  --color-green-500: #2cc171;
  --color-green-800: #027a48;

  --color-red-default: #ef3a4b;
  --color-red-400: #f46f70;
  --color-red-500: #e27233;
  --color-red-800: #ef3a4b;

  --color-blue-100: #0089f1;

  --color-light-100: #d6e0ff;
  --color-light-200: #eed1ac;
  --color-light-300: #f8f8ff;
  --color-light-400: #edf1f1;
  --color-light-500: #8d8d8d;
  --color-light-600: #f9fafb;
  --color-light-700: #e2e8f0;
  --color-light-800: #f8fafc;

  --color-dark-100: #16191e;
  --color-dark-200: #3a354e;
  --color-dark-300: #232839;
  --color-dark-400: #1e293b;
  --color-dark-500: #0f172a;
  --color-dark-600: #333c5c;
  --color-dark-700: #464f6f;
  --color-dark-800: #1e2230;

  --color-gray-100: #cbd5e1;

  /* Breakpoints & Radii */
  --breakpoint-xs: 480px;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* Backgrounds */
  --background-image-pattern: url("/images/pattern.webp");
}

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
  }

  .dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
  }

  * {
    @apply border-border outline-none;
  }

  body {
    @apply bg-background text-foreground;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  /* Buttons and Inputs */
  .form-btn {
    @apply bg-primary text-dark-100 hover:opacity-90 inline-flex min-h-14 w-full items-center justify-center rounded-md px-6 py-2 font-bold text-base;
  }

  .form-input {
    @apply w-full min-h-14 border-none text-base font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none bg-dark-300;
  }

  /* Books */
  .book-title {
    @apply mt-2 line-clamp-1 text-base font-semibold text-white xs:text-xl;
  }
  .book-genre {
    @apply mt-1 line-clamp-1 text-sm italic text-light-100 xs:text-base;
  }
  .book-loaned {
    @apply flex flex-row items-center gap-1 max-xs:justify-center;
  }
  .book-btn {
    @apply bg-dark-600 mt-3 min-h-14 w-full font-bebas-neue text-base text-primary;
  }

  .borrowed-book {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
    @apply p-5 rounded-2xl xs:w-min w-full relative;
  }
  .borrowed-book_cover {
    @apply py-4 lg:px-16 px-10 flex justify-center items-center w-full rounded-lg;
  }

  /* Book Covers */
  .book-cover_extra_small {
    @apply w-[28.95px] h-10;
  }
  .book-cover_small {
    @apply w-[55px] h-[76px];
  }
  .book-cover_medium {
    @apply w-[144px] h-[199px];
  }
  .book-cover_regular {
    @apply xs:w-[174px] w-[114px] xs:h-[239px] h-[169px];
  }
  .book-cover_wide {
    @apply xs:w-[296px] w-[256px] xs:h-[404px] h-[354px];
  }

  .book-list {
    @apply mt-10 flex flex-wrap gap-5 max-xs:justify-between xs:gap-10;
  }
  .book-overview {
    @apply flex flex-col-reverse items-center gap-12 sm:gap-32 xl:flex-row xl:gap-8;
  }
  .book-overview h1 {
    @apply text-5xl font-semibold text-white md:text-7xl;
  }
  .book-info {
    @apply mt-7 flex flex-row flex-wrap gap-4 text-xl text-light-100;
  }
  .book-description {
    @apply mt-2 text-justify text-xl text-light-100;
  }

  .book-overview_btn {
    @apply mt-4 min-h-14 w-fit bg-primary text-dark-100 hover:bg-primary/90 max-md:w-full;
  }

  /* Search */
  .search {
    @apply relative mt-10 flex min-h-14 w-full items-center rounded-xl bg-dark-300 px-4;
  }
  .search-input {
    @apply w-full border-none font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none;
  }

  /* Admin */
  .book-receipt_admin-btn {
    @apply bg-light-300 rounded-md text-primary-admin font-semibold hover:bg-light-300/80;
  }

  .select-trigger {
    @apply w-40 h-10 px-4 bg-dark-300 text-light-100 border-dark-100;
  }
  .select-content {
    @apply bg-dark-300 text-light-100 border-dark-100;
  }
  .select-item {
    @apply focus:bg-dark-600 focus:text-light-100;
  }

  /* BOOK OVERVIEW STYLES */  
  .book-info {
    @apply mt-7 flex flex-row flex-wrap gap-4 text-xl text-light-100;
  }

  .book-copies {
    @apply flex flex-row flex-wrap gap-4 mt-1;
  }
  
  .book-copies p {
    @apply text-xl text-light-100;
  }
  
  .book-copies p span {
    @apply ml-2 font-semibold text-primary;
  }
  
  
}

@layer utilities {
  .auth-container {
    @apply relative flex flex-col-reverse text-light-100 sm:flex-row;
  }
  .auth-form {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
    @apply my-auto flex h-full min-h-screen flex-1 items-center bg-pattern bg-cover bg-top bg-dark-100 px-5 py-10;
  }
  .auth-box {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
    @apply mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
  }

  .root-container {
    @apply flex min-h-screen flex-1 flex-col bg-pattern bg-cover bg-top bg-dark-100 px-5 xs:px-10 md:px-16;
  }

  .library-title {
    @apply mt-2 text-3xl font-semibold text-white xs:text-5xl;
  }
  
  
  
  
}
